h1 {
 	font-family:'Arial';
        font-size:100%;
	background-color:yellow;
	color:black;
	text-align: center;
}
body {
    background-color: lightblue;
    margin: 0 4px 0 0;
    border: 10px solid;
    font-size  : 60%;
}
p {
    font-size  : 60%;
}

a {
    font-size  : 20px;
}
