h1 {
 	font-family:'Arial';
        font-size:200%;
	background-color:yellow;
	color:black;
	text-align: center;
}
body {
    background-color: lightblue;
    margin: 0 4px 0 0;
    border: 10px solid;
    font-size  : 130%;
}
p {
    font-size  : 130%;
}

a {
    font-size  : 20px;
}
img {
    display: block;
    margin:  auto;
    width: 25%;
}
iframe {
    display: block;
    margin:  auto;
    width: 40%;
}
